langchain-core~=0.3.76
langchain~=0.3.27
uvicorn~=0.35.0
fastapi~=0.116.1
pydantic~=2.11.7
python-docx~=1.2.0
numpy~=2.2.6
python-dotenv~=1.1.1
matplotlib~=3.10.6
sentence-transformers~=5.1.0
aiofiles~=24.1.0
pypdf~=6.0.0
PyMuPDF~=1.26.5
pytesseract~=0.3.10
pandas~=2.3.2
scikit-learn~=1.7.2
langchain-community~=0.3.29
langchain-openai~=0.3.33
langchain-deepseek
langchain-neo4j
chromadb~=1.2.0
zhipuai~=2.1.5.20250825
Pillow
